/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background:#ffffff;
    margin: 0;
}
p,ul li,ol li{
    margin:0;
    font-size:14px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
input[type="submit"],input[type="reset"],a{
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.banner{
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 770px;
    position: relative;
}
.banner1{
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    position: relative;
}
.w3_agileits_banner_main_grid{
    padding:2em 0 0;
    position:relative;
}
.w3_agile_logo{
    float:left;
}
.w3_agile_logo h1 a{
    font-size:1em;
    color:#fff;
    text-decoration:none;
    display:block;
}
.w3_agile_logo h1 a span{
    padding: .2em .5em;
    background: #a4dd25;
    display: inline-block;
    color: #212121;
}
.w3_agile_logo h1 a i{
    display: block;
    font-size: .25em;
    text-align: right;
    line-height: 0;
    letter-spacing: 2.5px;
    text-transform:capitalize;
}
.agileits_social_list li{
    display: inline-block;
    margin-right: 3em;
}
.agileits_social_list li a{
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
a.w3_agile_facebook:hover{
    color:#3b5998;
}
a.agile_twitter:hover{
    color:#1da1f2;
}
a.w3_agile_dribble:hover{
    color:#ea4c89;
}
a.w3_agile_vimeo:hover{
    color:#1ab7ea;
}
.agile_social_icons_banner {
    float: right;
    margin:1.6em 2em 0 0;
}
/*-- menu-navigation --*/
.shy-menu{
    -moz-transition: all .4s cubic-bezier(.1,.7,.3,1);
    -webkit-transition: all .4s cubic-bezier(.1,.7,.3,1);
    -o-transition: all .4s cubic-bezier(.1,.7,.3,1);
    -ms-transition: all .4s cubic-bezier(.1,.7,.3,1);
    transition: all .4s cubic-bezier(.1,.7,.3,1);
}

.shy-menu-panel ul {
    text-align: center;
}
.shy-menu-panel ul li{
    display: inline-block;
}
.shy-menu-panel ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
}

.shy-menu { 
    display: block;
    background-color: rgba(33,40,44,.1);
    color: #fff;
    position: absolute;
    right: 0;
}
.shy-menu-hamburger,.shy-menu { 
    height: 35px;
    width: 35px;
}
.shy-menu.is-open{ 
    background-color:#262626;
}

.shy-menu.is-open {
    width: 100%;
}
.w3_agileits_banner_main_grid,.shy-menu.is-open {
    height: 75px;
}

.shy-menu-panel { 
    margin-left: 0px;
    display: none;
}
.is-open .shy-menu-panel { 
    margin-left: 0;
    display: block;
    width: 95%;
}
/*** Hamburger ***/
.shy-menu-hamburger {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    float: right;
    margin-top: 1.2em;
}

.shy-menu-hamburger > .layer {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    overflow: hidden;
    position: absolute;
    left: 5px;
    width: 25px;
}

.shy-menu-hamburger .layer.top { top: 8px; }
.is-open .shy-menu-hamburger .layer.top { 
    margin-top: .58em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.shy-menu-hamburger .layer.mid { top: 17px; }
.is-open .shy-menu-hamburger .layer.mid {
    opacity: 0;
    left: 0;
}
.shy-menu-hamburger .layer.btm { top: 26px; }
.is-open .shy-menu-hamburger .layer.btm { 
    margin-top: -.58em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
/*-- nav-effect --*/
.link-effect-8 a {
    margin: 0.8em 2.5em 0;
    padding: 1em;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}
.link-effect-8 a::before {
    height: 2px;
    width: 100%;
    background: #797878;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.link-effect-8 a::after {
    height: 2px;
    width: 100%;
    background: #797878;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.link-effect-8 a:hover::before,.w3layouts_menu__list li.active a::before {
    visibility: visible;
    top: 100%;
    background: white;
}
.link-effect-8 a:hover::after,.w3layouts_menu__list li.active a::after {
    visibility: visible;
    top: 0;
    background: white;
}
/*-- //nav-effect --*/
.shy-menu-panel ul li.active a,.link-effect-8 a:hover{
    color:#a4dd25;
}
.w3_banner_info{
    margin:12em 0 0;
    width:60%;
}
.w3_banner_info_grid h3{
    font-size:2em;
    color:#fff;
    line-height:1.5em;
}
.w3_banner_info_grid ul li{
    display:inline-block;
    font-size:1em;
}
.w3_banner_info_grid ul li a{
    padding:10px 40px;
    text-decoration:none;
    font-family: 'Bree Serif', serif;
    color:#212121;
}
.w3l_contact,.w3ls_more:hover{
    border:2px solid #fff;
    color:#a4dd25 !important;
    background:none;
}
.w3ls_more,.w3l_contact:hover{
    border:2px solid #a4dd25;
    background:#a4dd25;
    color:#212121 !important;
}
.w3ls_more:focus{
    outline:none;
}
span.char3 {
    text-transform: initial;
}
.w3_banner_info_grid p{
    margin:1em 0 4em;
    color:#fff;
    line-height:2em;
}
/*-- button-effect --*/
.thim-click-to-bottom {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
}
@-webkit-keyframes bounce {
    0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
    0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
    0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
    80% { -webkit-transform: translateY(-10px); }
}
/*-- //button-effect --*/
/*-- //banner --*/
/*-- bootstrap-pop-up --*/
.modal-header {
    font-size:2em;
    color: #fff;
    font-family:'Bree Serif', serif;
    text-align: center;
    text-transform: capitalize;
    background:#aeb09f;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #999;
    text-align: left;
    padding:2em 2em 1em;
    margin: 0 !important;
    line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1.5em;
    color:#737373;
    outline: none;
}
/*-- //bootstrap-pop-up --*/
/*-- banner-bottom --*/
.agileits_banner_bottom_left{
    background:url(../images/1.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.agileits_banner_bottom_left1{
    background:url(../images/2.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.agileits_banner_bottom_left2{
    background:url(../images/3.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.agileits_banner_bottom_left,.agileits_banner_bottom_left1,.agileits_banner_bottom_left2{
    min-height:335px;
    position:relative;
}
.agileinfo_banner_bottom_pos{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:rgba(25, 25, 25, 0.55);
}
.w3_agileits_banner_bottom_pos_grid{
    padding:7em 3em;
}
.wthree_banner_bottom_grid_right h4{
    font-size:1.5em;
    color:#a4dd25;
    margin-bottom:1em;
}
.wthree_banner_bottom_grid_right p{
    color:#fff;
    line-height:2em;
}
.agile_banner_bottom_grid_left_grid{
    width:100px;
    height:100px;
    border:2px solid #fff;
    text-align:center;
}
.agile_banner_bottom_grid_left_grid i{
    font-size:2em;
    color:#fff;
    line-height: 3em;
}
.agileits_banner_bottom_left:hover .agile_banner_bottom_grid_left_grid i,
.agileits_banner_bottom_left1:hover .agile_banner_bottom_grid_left_grid i,
.agileits_banner_bottom_left2:hover .agile_banner_bottom_grid_left_grid i{
    color:#212121;
}
.agileits_banner_bottom_left:hover .agileinfo_banner_bottom_pos,
.agileits_banner_bottom_left1:hover .agileinfo_banner_bottom_pos,
.agileits_banner_bottom_left2:hover .agileinfo_banner_bottom_pos{
    background:rgba(25, 25, 25, 0.7);
}
/* Radial Out */
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background:transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a4dd25;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before,.agileits_banner_bottom_left:hover .hvr-radial-out:before
,.agileits_banner_bottom_left1:hover .hvr-radial-out:before,.agileits_banner_bottom_left2:hover .hvr-radial-out:before,
.w3_agile_services_grid:hover .hvr-radial-out:before,.w3_agileits_services_bottom_grid:hover .hvr-radial-out:before,
.w3layouts_mail_grid_left:hover .hvr-radial-out:before{
    -webkit-transform: scale(2);
    transform: scale(2);
}
/*-- //banner-bottom --*/
/*-- welcome --*/
.welcome,.newsletter,.about-bottom,.services-bottom{
    padding:5em 0;
}
.agileits_w3layouts_head{
    text-align:center;
    font-size:2em;
    color:#212121;
    text-transform:capitalize;
}
.agileits_w3layouts_head span{
    color:#a0d034;
}
.w3_agile_image img{
    margin:0 auto;
}
.agile_para{
    margin:1em 0 0;
    color:#999;
    text-align:center;
    line-height: 2em;
}
/*-- //welcome --*/
/*-- welcome-bottom --*/
.welcome-bottom{
    background:#aeb09f;
}
.wthree_welcome_bottom_right{
    padding:0;
}
.wthree_welcome_bottom_left{
    padding:4.5em 5em 0;
}
.wthree_welcome_bottom_left h3{
    text-transform:capitalize;
    font-size:1.8em;
    color:#fff;
}
.wthree_welcome_bottom_left h3 span{
    color:#212121;
}
.wthree_welcome_bottom_left p{
    color:#fff;
    padding:1em 0;
    line-height:2em;
}
.wthree_welcome_bottom_left_grid{
    position:relative;
    margin-top:2em;
}
.w3l_social_icon_gridl {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid #a4dd25;
}
.w3l_social_icon_gridl img{
    margin:0 auto;
}
.w3l_social_icon_gridr {
    float: left;
    margin:1.8em 0 0 5em;
}
.w3l_social_icon_gridr h4{
    font-size:2em;
    color: #212121;
    font-weight: 600;
}
.w3l_social_icon_grid_pos {
    position: absolute;
    top: 32%;
    left: 47%;
}
.w3l_social_icon_grid_pos label {
    font-size: 1.5em;
    color: #212121;
}
.agileinfo_grid {
    position: relative;
    text-align: center;
}

/* Common style */
.agileinfo_grid figure {
    position: relative;
    overflow: hidden;
}

.agileinfo_grid figure img {
    position: relative;
    display: block;
    width: 100%;
}

.agileinfo_grid figure figcaption {
    padding: 5em;
    color: #fff;
    text-transform: capitalize;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.agileinfo_grid figure figcaption::before,
.agileinfo_grid figure figcaption::after {
    pointer-events: none;
}

.agileinfo_grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
}

.agileinfo_grid figure h4 span {
    font-weight: 800;
    color:#a4dd25;
}

.agileinfo_grid figure h4,
.agileinfo_grid figure p {
    margin: 0;
}

.agileinfo_grid figure p {
    letter-spacing: 1px;
}
/***** Moses *****/
/*-----------------*/

figure.agileits_effect_moses{
    background: -webkit-linear-gradient(-45deg, #2f2f2f 0%,#e3f7b5 100%);
    background: linear-gradient(-45deg, #2f2f2f 0%,#e3f7b5 100%);
}

figure.agileits_effect_moses img {
    opacity: 0.85;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.agileits_effect_moses h4,
figure.agileits_effect_moses p {
    padding: 20px;
    width: 50%;
    height: 50%;
    border: 2px solid #fff;
}

figure.agileits_effect_moses h4 {
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: right;
    font-size: 2.2em;
    line-height: 1.5em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
}

figure.agileits_effect_moses p {
    float: right;
    padding: 20px;
    line-height:2em;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

figure.agileits_effect_moses:hover h4 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.agileits_effect_moses:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.agileits_effect_moses:hover img {
    opacity: 0.6;
}
/*-- //welcome-bottom --*/
/*-- news --*/
.w3ls_news_grids{
    margin:3em 0 0;
}
.agileits_w3layouts_news_grid{
    padding:1.5em;
    background:#f5f5f5;
}
.agileits_w3layouts_news_grid ul li{
    display:inline-block;
    font-weight:600;
    color:#212121;
}
.agileits_w3layouts_news_grid ul li:last-child{
    margin-left:2em;
}
.agileits_w3layouts_news_grid ul li i{
    padding-right:1em;
    color:#a0d034;
}
.agileits_w3layouts_news_grid ul li a{
    color:#212121;
    text-decoration:none;
}
.agileits_w3layouts_news_grid ul li a:hover{
    color:#a0d034;
}
.agileits_w3layouts_news_grid h4{
    font-size:1.3em;
    color:#212121;
    margin:1em 0;
}
.agileits_w3layouts_news_grid h4 a{
    color:#212121;
    text-decoration:none;
}
.agileits_w3layouts_news_grid h4 a:hover{
    color:#a0d034;
}
.agileits_w3layouts_news_grid h4 a:focus{
    outline:none;
}
.agileits_w3layouts_news_grid p{
    color:#999;
    line-height:2em;
}
.w3layouts_news_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_news_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_news_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3ls_news_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos,.w3_agileits_team_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos,
.w3layouts_gallery_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos{
    opacity:1;
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3ls_news_grid:hover .wthree_text,.w3_agileits_team_grid:hover .wthree_text,
.w3layouts_gallery_grid:hover .wthree_text{
    opacity: 1;
    -webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text{
    text-align: center;
    padding: 6em 0 0;
    opacity: 0;
    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.wthree_text h3{
    color:#fff;
    font-size:2em;
}
/*-- //news --*/
/*-- newsletter --*/
.newsletter{
    background: url(../images/7.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.agileinfo_head span,.agileits_para{
    color:#fff;
}
.w3ls_newsletter_grids input[type="text"],.w3ls_newsletter_grids input[type="email"]{
    outline: none;
    border: 2px solid #fff;
    border-right: none;
    padding: 15px;
    font-size: 1em;
    color: #212121;
    background: rgba(161, 208, 52, 0.35);
    float: left;
    font-weight:600;
}
.w3ls_newsletter_grids input[type="submit"] {
    outline: none;
    border: 2px solid #fff;
    padding: 15px 0;
    font-size: 1em;
    color: #69855c;
    background: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3ls_newsletter_grids input[type="text"]::-webkit-input-placeholder,.w3ls_newsletter_grids input[type="email"]::-webkit-input-placeholder{
    color:#212121 !important;
}
.w3ls_newsletter_grids input[type="text"],.w3ls_newsletter_grids input[type="email"],.w3ls_newsletter_grids input[type="submit"] {
    width: 33.33%;
}
.w3ls_newsletter_grids input[type="submit"]:hover{
    background:#212121;
    color:#fff;
    border-color:#212121;
}
/*-- //newsletter --*/
/*-- footer --*/
.footer{
    background: url(../images/8.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment:fixed;
    padding:5em 0 0;
}
.agileits_w3layouts_footer_logo h2 a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}
.agileits_w3layouts_footer_logo h2 a span {
    padding: .2em .5em;
    background: #a4dd25;
    display: inline-block;
    color: #212121;
}
.agileits_w3layouts_footer_logo h2 a i {
    display: block;
    font-size: .25em;
    line-height: 0;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    margin-left: 6.5em;
}
.agileinfo_footer_grid h4{
    font-size: 1em;
    color: #fff;
    line-height: 2em;
    font-weight: 300;
}
.agileinfo_footer_grid h4 span{
    display:block;
    font-size: 2.5em;
}
.agileinfo_footer_grid p{
    margin:1em 0;
    color: #fff;
    line-height: 2em;
}
.agileinfo_footer_grid p span{
    display:block;
}
.agileinfo_footer_grid ul.w3layouts_footer_nav{
    padding:1em 0 0;
}
.agileinfo_footer_grid ul.w3layouts_footer_nav li{
    list-style-type:none;
    margin:0 0 1em;
}
.w3layouts_footer_nav li i{
    padding-right:1em;
    color:#fff;
}
.agileinfo_footer_grid ul.w3layouts_footer_nav li a{
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileinfo_footer_grid ul.w3layouts_footer_nav li a:hover{
    color:#a4dd25;
}
.agileinfo_footer_grid_left{
    float:left;
    width:50%;
    border: 1px solid #fff;
}
.agileinfo_footer_grid1 {
    padding-left: 0;
}
.agileinfo_footer_grid_left:hover img{
    opacity:.8;
}
.agileinfo_footer_grid h3{
    font-size: 1.6em;
    color: #fff;
    padding-bottom: .5em;
    position: relative;
    margin-bottom: 1.5em;
}
.agileinfo_footer_grid h3:after{
    content: '';
    background: #a4dd25;
    width: 25%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.w3_agileits_footer_copy{
    background:rgba(60, 60, 60, 0.63);
    padding:1.5em 0;
    text-align:center;
    margin:5em 0 0;
}
.w3_agileits_footer_copy p{
    line-height:1.8em;
    color:#fff;
    font-weight: 600;
}
.w3_agileits_footer_copy p a{
    color: #a4dd25;
    text-decoration: underline;
}
.w3_agileits_footer_copy p a:hover{
    color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999; 
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- breadcrumbs --*/
.breadcrumbs{
    padding:1em 0;
    background:#f5f5f5;
}
.w3layouts_breadcrumbs_left{
    float:left;
    margin-top: .5em;
}
.w3layouts_breadcrumbs_left ul li{
    display:inline-block;
    color:#212121;
    text-transform:uppercase;
    font-weight:600;
}
.w3layouts_breadcrumbs_left ul li span{
    padding:0 1.5em;
}
.w3layouts_breadcrumbs_left ul li i{
    padding-right:1em;
    color: #212121;
}
.w3layouts_breadcrumbs_left ul li a{
    color:#a0d034;
    text-decoration:underline;
}
.w3layouts_breadcrumbs_right{
    float:right;
}
.w3layouts_breadcrumbs_right h2{
    font-size:2em;
    color:#212121;
}
.w3layouts_breadcrumbs_left ul li a:hover{
    color:#212121;
}
.w3_agile_about_grid_left h3{
    font-size:1.4em;
    color:#212121;
    line-height:1.5em;
    text-transform: capitalize;
}
.w3_agile_about_grid_left p i{
    color:#a0d034;
    display:block;
    margin:2em 0 1em;
}
.w3_agile_about_grid_left p{
    color:#999;
    line-height:2em;
}
/*-- //breadcrumbs --*/
/*-- about --*/
/*-- Skills bar effects --*/


.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #a0d034;
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: -6%;
    top: 0;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    color: #212121;
}
/*-- //about --*/
/*-- about-bottom --*/
.about-bottom{
    background: url(../images/9.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.about-bottom h3{
    font-size: 2.2em;
    color: #fff;
    line-height: 1.5em;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto 2em;
}
.about-bottom h3 span{
    color:#a4dd25;
}
.agileits_w3layouts_learn_more a{
    padding: 10px 40px;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    color: #a4dd25;
    border: 2px solid #fff;
    display: block;
    font-size: 1em;
}
.agileits_w3layouts_learn_more a:focus{
    outline:none;
}
.agileits_w3layouts_learn_more a:hover{
    color:#212121;
}
.w3_agileits_team_grid h4{
    font-size:1.2em;
    color:#212121;
    margin:1.5em 0 0.5em;
}
.w3_agileits_team_grid p{
    color:#a0d034;
    font-weight:600;
}
.w3_agileits_team_grid{
    text-align:center;
}
.w3_agileits_team_grid ul li{
    margin:0 1em;
}
.agileinfo_about_text{
    padding-top:9em !important;
}
.w3_agileits_team_grid img {
    border: 3px solid #aeb09f;
}
/*-- //about-bottom --*/
/*-- services --*/
.agile_services_grid_left1 {
    width: 100px;
    height: 100px;
    border: 2px solid #a4dd25;
}
.w3_agile_services_grid_left {
    text-align: center;
}
.agile_services_grid_left1 img{
    margin:0 auto;
}
.w3_agile_services_grids{
    padding-top:1em;
}
.w3_agile_services_grid{
    margin-top:3em;
}
.w3_agile_services_grid_right h4{
    text-transform: capitalize;
    font-size: 1.3em;
    color: #212121;
    margin-bottom: 1em;
}
.w3_agile_services_grid_right p{
    color:#999;
    line-height:2em;
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom{
    background: url(../images/9.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.w3_head{
    color:#fff;
}
.w3_head span{
    color:#a4dd25;
}
.wthree_services_bottom_grid1{
    position:relative;
}
.wthree_services_bottom_grid1_pos{
    position: absolute;
    bottom: -9%;
    width: 70%;
    left: 15%;
    background: #fff;
    text-align: center;
    padding: .7em 0;
}
.wthree_services_bottom_grid1_pos h4{
    font-size:1.2em;
    color:#212121;
}
.agileinfo_services_bottom_grid2{
    padding: 2.5em 1.5em 1.5em;
    background: rgba(164, 221, 37, 0.36);
    text-align: center;
}
.agileinfo_services_bottom_grid2 p{
    color:#fff;
    font-weight:600;
    line-height:2em;
    margin-bottom:1.5em;
}
.w3_agileits_services_bottom_grid:hover a{
    color:#212121;
}
.agileits_learn_more{
    width:18% !important;
}
.agileits_w3layouts_learn_more.hvr-radial-out {
    width: 50%;
}
.agileits_w3layouts_learn_more a{
    padding:10px 0 !important;
}
/*-- //services-bottom --*/
/*-- testimonials --*/
.testimonials{
    padding:5em 0 0;
}
.agile_testimonials_grid_right h5{
    text-transform: capitalize;
    font-size: 1.5em;
    color: #212121;
    font-style: normal;
    margin: 5em 0 0;
}
.agile_testimonials_grid_right h5 span{
    color:#a0d034;
}
.agile_testimonials_grid_right h5 i{
    color: #aeb09f;
    font-weight: 300;
}
.wthree_stars ul li{
    display:inline-block;
    color:#212121;
}
.agile_testimonials_grid_right p{
    color:#999;
    line-height:2em;
    width:80%;
}
.agile_testimonials_grid_right h6{
    font-size: 1.1em;
    color: #212121;
    margin: 2em 0 0;
    font-style: normal;
}
.agile_testimonials_grid_right h6 span{
    color:#aeb09f;
}
.wthree_stars {
    margin: 1em 0;
}
/*-- //testimonials --*/
/*-- gallery --*/
.w3layouts_gallery_grids {
    padding-top: 1em;
}
.w3layouts_gallery_grid {
    margin-top: 2em;
}
.gallerie-imagebox img {	
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}
.gallerie-imagebox .loading {
    opacity: 0.3;
}
/*-- //gallery --*/
/*-- mail --*/
.agileits_mail_grid_right1{
    padding:3em;
    background:#f5f5f5;
}
.agileits_mail_grid_right1 span i{
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 15%;
    margin: .8em 0 0;
    font-weight: 600;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
    outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
::-webkit-input-placeholder{
    color:#212121 !important;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
    min-height:200px;
    margin-bottom:1em;
}
.agileits_mail_grid_right1 input[type="submit"]{
    outline: none;
    width: 35%;
    background: #a0d034;
    color: #212121;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#212121;
    color: #fff;
}
.w3layouts_mail_grid_left1{
    float: left;
    width: 50px;
    height: 50px;
    background:#aeb09f;
    text-align: center;
    border-radius: 50px;
}
.w3layouts_mail_grid_left1 span{
    font-size: 1em;
    color: #212121;
    line-height: 3em;
}
.w3layouts_mail_grid_left2{
    float:right;
    width:75%;
}
.w3layouts_mail_grid_left2 h3{
    font-size: 1.1em;
    color: #212121;
    margin: .3em 0 0;
}
.w3layouts_mail_grid_left2 a{
    text-decoration:none;
    color:#999;
    font-size:14px;
}
.w3layouts_mail_grid_left2 a:hover{
    color:#212121;
}
.w3layouts_mail_grid_left2 p {
    color: #999;
}
.w3layouts_mail_grid_left:nth-child(2) {
    margin: 2em 0;
}
.w3_submit{
    text-align:right;
}
.w3_agileits_mail_right_grid{
    text-align:center;
    border:2px solid #aeb09f;
    padding:5em 2em 2em;
    position:relative;
    margin:3em 0 2em;
}
.w3_agileits_mail_right_grid h4{
    font-size:1.2em;
    color:#212121;
}
.w3_agileits_mail_right_grid p{
    margin:1em 0;
    color:#999;
    line-height:2em;
}
.w3_agileits_mail_right_grid h5{
    text-transform:uppercase;
    font-size:.9em;
    color:#a0d034;
    margin-bottom:2em;
}
.w3_agileits_mail_right_grid ul li{
    margin-right:1em !important;
}
.w3_agileits_mail_right_grid ul li a{
    color:#212121;
}
.w3_agileits_mail_right_grid_pos{
    position: absolute;
    top: -17%;
    left: 35%;
}
.w3_agileits_mail_right_grid_pos img{
    border-radius: 40px;
    width: 100px;
}
#map {
    width: 100%;
    min-height: 500px;
}
/*-- //mail --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    -moz-transition:0.5s all;
}
.icon-box:hover i.fa {
    color:#fff !important;
}
.icon-box:hover a.agile-icon {
    color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 25px;
    color:#a0d034 !important;
    margin: 30px 0 15px;
    font-weight: 400;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
    cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
    .icon-box {
        width:33.33%;
    }
    h3.agileits-icons-title {
        font-size: 30px;
    }
}
@media (max-width:991px){
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .icon-box {
        width: 50%;
    }
}
@media (max-width:768px){
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
}
@media (max-width:736px){
    .icon-box {
        float: left;
    }
}
@media (max-width: 640px){
    .icon-box {
        float: left;
        width: 50%;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .grid_3.grid_4.w3_agileits_icons_page {
        margin-top: 0;
    }
}
@media (max-width: 480px){
    .bs-glyphicons li {
        width: 31%;
    }
    h3.agileits-icons-title {
        font-size: 25px;
    }
    h3.icon-subheading {
        font-size: 19px;
    }
}
@media (max-width: 414px){
    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
    .icon-box {
        float: none;
        width: 100%;
    }
}
@media (max-width: 384px){
    .icon-box {
        float: none;
        width: 100%;
    }
}
@media (max-width: 375px){
    .w3_agileits_icons_page {
        margin:0 !important;
    }
}
/*-- //icons --*/
/*--Typography--*/
.grid_3.grid_4.w3layouts {
    margin: 0 !important;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}
.grid_3{
    margin-bottom:2em;
}
.xs h3, h3.m_1{
    color:#000;
    font-size:1.7em;
    font-weight:300;
    margin-bottom: 1em;
}
.grid_3 p{
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}
.grid_4{
    background:none;
    margin-top:50px;
}
.label {
    font-weight: 300 !important;
    border-radius:4px;
}  
.grid_5{
    background:none;
    padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color:#a0d034;
    font-weight: 400;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0;
}
.badge-primary {
    background-color: #03a9f4;
}
.badge-success {
    background-color: #8bc34a;
}
.badge-warning {
    background-color: #ffc107;
}
.badge-danger {
    background-color: #e51c23;
}
.grid_3 p{
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}
.bs-docs-example {
    margin: 1em 0;
}
section#tables  p {
    margin-top: 1em;
}
.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color: #999;
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.label {
    font-weight: 300 !important;
}
.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}
.alert {
    font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
    line-height:2em;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
li.list-group-item1 {
    line-height: 2.5em;
}
.input-group {
    margin-bottom: 20px;
}
.in-gp-tl{
    padding:0;
}
.in-gp-tb{
    padding-right:0;
}
.list-group {
    margin-bottom: 48px;
}
ol {
    margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:800px){
    .grid_3.grid_5.w3ls,.grid_3.grid_5.w3l,.grid_3.grid_5.agileits,.grid_3.grid_5.agileinfo,.grid_3.grid_5.wthree {
        margin: 0;
    }
}
@media (max-width:768px){
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
    .grid_3.grid_5.w3l {
        margin-top: 1.5em;
    }
}
@media (max-width:640px){
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 25px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
    .in-gp-tl {
        padding: 0 1em;
    }
    .in-gp-tb {
        padding-right: 1em;
    }
    .list-group {
        margin-bottom: 20px;
    }
}
@media (max-width:480px){
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        font-size: 1.2em;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0;
    }
}
@media (max-width: 320px){
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav > li > a {
        font-size: 14px;
    }
    table.table.table-striped,.table-bordered,.bs-docs-example {
        display: none;
    }
}
/*-- //typography --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
    .w3_agileits_banner_bottom_pos_grid {
        padding: 7em 2em;
    }
    .wthree_welcome_bottom_left {
        padding: 2.5em 3em 0;
    }
}
@media (max-width:1366px){
    .banner {
        min-height: 630px;
    }
    .w3_banner_info_grid h3 {
        font-size: 1.8em;
    }
    .w3_banner_info {
        margin: 8em 0 0;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 280px;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 5.5em 2em;
    }
    .w3l_social_icon_gridr {
        margin:2em 0 0 3em;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.6em;
    }
    .w3l_social_icon_gridr h4 {
        font-size: 1.7em;
    }
    figure.agileits_effect_moses h4 {
        font-size: 2em;
    }
    .agileinfo_grid figure figcaption {
        padding: 4em;
    }
}
@media (max-width:1280px){
    .agile_banner_bottom_grid_left_grid {
        width: 85px;
        height: 85px;
    }
    .agile_banner_bottom_grid_left_grid i {
        font-size: 1.6em;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 5.5em 1em;
    }
    .wthree_welcome_bottom_left {
        padding: 2.5em 2em 0;
    }
    .wthree_welcome_bottom_left_grid {
        margin-top: 1em;
    }
    figure.agileits_effect_moses h4 {
        font-size: 1.8em;
    }
    .agileinfo_grid figure figcaption {
        padding: 3.5em;
    }
}
@media (max-width: 1080px){
    .agile_banner_bottom_grid_left_grid {
        width: 75px;
        height: 75px;
    }
    .agile_banner_bottom_grid_left_grid i {
        font-size: 1.5em;
    }
    .wthree_banner_bottom_grid_right {
        padding: 0;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.4em;
        margin-bottom: .5em;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 235px;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 4em 1em 0;
    }
    .welcome, .newsletter, .about-bottom, .services-bottom {
        padding: 4em 0;
    }
    .agileits_w3layouts_head {
        font-size: 1.8em;
    }
    figure.agileits_effect_moses h4 {
        font-size: 1.5em;
    }
    figure.agileits_effect_moses p {
        padding: 10px;
        font-size: 13px;
    }
    .agileinfo_grid figure figcaption {
        padding: 2.5em;
    }
    .wthree_welcome_bottom_left {
        padding: 1.5em 1em 0;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.46em;
    }
    .w3l_social_icon_gridr h4 {
        font-size: 1.5em;
    }
    .w3l_social_icon_gridl {
        width: 80px;
        height: 80px;
    }
    .w3l_social_icon_gridl img {
        width: 80%;
    }
    .wthree_text h3 {
        font-size: 1.8em;
    }
    .wthree_text {
        padding: 4.5em 0 0;
    }
    .footer {
        padding: 4em 0 0;
    }
    .w3_agileits_footer_copy {
        margin: 4em 0 0;
    }
    .agileits_w3layouts_footer_logo h2 a {
        font-size: 1.1em;
    }
    .banner1 {
        min-height: 220px;
    }
    .w3layouts_breadcrumbs_right h2 {
        font-size: 1.7em;
    }
    .w3layouts_breadcrumbs_left {
        margin-top: .2em;
    }
    .w3_agile_about_grid_right {
        padding: 0 2em 0 0;
    }
    .skill-bar-percent {
        right: -10%;
    }
    .about-bottom h3 {
        font-size: 2em;
    }
    .agileinfo_about_text {
        padding-top: 7em !important;
    }
    .w3_agile_services_grid_right h4 {
        font-size: 1.2em;
        margin-bottom: .8em;
    }
    .w3_agile_services_grid {
        margin-top: 2em;
    }
    .agileinfo_services_bottom_grid2 {
        padding: 2.5em 1em 1.5em;
    }
    .agileits_w3layouts_learn_more.hvr-radial-out {
        width: 60%;
    }
    .agile_testimonials_grid_right h5 {
        margin: 2em 0 0;
    }
    .agileits_mail_grid_right1 {
        padding: 2em;
    }
    #map {
        min-height: 400px;
    }
    .testimonials {
        padding: 4em 0 0;
    }
}
@media (max-width: 1024px){
    .w3_banner_info_grid ul li {
        font-size: 14px;
    }
    .wthree_banner_bottom_grid_left {
        padding-left: 0;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.38em;
    }
    .wthree_welcome_bottom_left p {
        font-size: 13px;
    }
    .agileinfo_grid figure figcaption {
        padding: 2em;
    }
}
@media (max-width: 991px){
    .w3_agile_logo h1 a {
        font-size: .9em;
    }
    .w3_agile_logo h1 a i {
        font-size: .28em;
        letter-spacing: 1.5px;
    }
    .agileits_social_list li {
        margin-right: 2em;
    }
    .w3_banner_info_grid h3 {
        font-size: 1.7em;
    }
    .w3_banner_info {
        width: 85%;
    }
    .link-effect-8 a {
        margin: 0.8em 1em 0;
    }
    .shy-menu-panel ul {
        text-align: left;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        float: left;
        width: 33.33%;
    }
    .welcome-bottom {
        background: #fff;
    }
    .wthree_welcome_bottom_left {
        padding: 3em;
        background: #aeb09f;
    }
    .wthree_welcome_bottom_right{
        width: 65%;
        margin: 0 auto;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.7em;
    }
    .wthree_welcome_bottom_left p {
        font-size: 14px;
    }
    .w3l_social_icon_gridr {
        margin: 2em 0 0 10em;
    }
    .wthree_welcome_bottom_left_grid {
        margin-top: 1.5em;
        float: left;
        width: 50%;
    }
    .w3l_social_icon_grid_pos {
        left: 40%;
    }
    .agileinfo_grid figure figcaption {
        padding: 5em 3em;
    }
    .w3ls_news_grid {
        float: left;
        width: 33.33%;
    }
    .wthree_text {
        padding:3.2em 0 0;
    }
    .wthree_text h3 {
        font-size: 1.5em;
    }
    .agileits_w3layouts_news_grid ul li:last-child {
        margin-left:0;
    }
    .agileits_w3layouts_news_grid h4 {
        font-size: 1.1em;
    }
    .agileinfo_footer_grid {
        float: left;
        width: 50%;
    }
    .agileinfo_footer_grid:nth-child(2){
        margin-bottom:2em;
    }
    .w3_agile_about_grid_right {
        padding: 1em 2em 0 0;
    }
    .skill-bar-percent {
        right: -6%;
    }
    .about-bottom h3 {
        font-size: 1.7em;
    }
    .agileits_learn_more {
        width: 25% !important;
    }
    .w3layouts_news_grid {
        width: 90%;
        margin: 0 auto;
    }
    .w3_agileits_team_grid {
        float: left;
        width: 50%;
    }
    .w3_agileits_team_grid:nth-child(2){
        margin-bottom:2em;
    }
    .agileinfo_about_text {
        padding-top: 10em !important;
    }
    .w3_agileits_services_bottom_grid {
        float: left;
        width: 33.33%;
    }
    .wthree_services_bottom_grid1_pos h4 {
        font-size: 1em;
    }
    .wthree_services_bottom_grid1_pos {
        bottom: -13%;
    }
    .agileits_w3layouts_learn_more.hvr-radial-out {
        width: 80%;
    }
    .agile_testimonials_grid_left {
        float: left;
        width: 40%;
    }
    .agile_testimonials_grid_right {
        float: right;
        width: 60%;
    }
    .agile_testimonials_grid_right p {
        width: 100%;
    }
    .agile_testimonials_grid_right {
        padding: 0;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.36em;
    }
    .w3layouts_gallery_grid {
        float: left;
        width: 33.33%;
        padding:0 .5em;
    }
    .w3_agileits_mail_right_grid_pos {
        top: -25%;
        left: 42%;
    }
    .w3_agileits_mail_right_grid {
        margin: 6em 0 2em;
    }
    .w3layouts_mail_grid_left2 {
        width: 88%;
    }
}
@media (max-width: 900px){
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.3em;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 200px;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 2.7em 1em 0;
    }
    .agileinfo_grid figure figcaption {
        padding: 3.8em 3em;
    }
}
@media (max-width: 800px){
    .banner {
        min-height: 580px;
        background-position: -340px 0px;
    }
    .agile_banner_bottom_grid_left_grid {
        width: 55px;
        height: 55px;
    }
    .agile_banner_bottom_grid_left_grid i {
        line-height: 2em;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 2em 0.5em 0;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 180px;
    }
    .welcome, .newsletter, .about-bottom, .services-bottom {
        padding: 3em 0;
    }
    .w3l_social_icon_gridr {
        margin: 2em 0 0 6em;
    }
    .wthree_welcome_bottom_right {
        width: 75%;
    }
    .footer,.testimonials {
        padding: 3em 0 0;
    }
    .w3_agileits_footer_copy {
        margin: 3em 0 0;
    }
}
@media (max-width: 768px){
    .w3_banner_info_grid p {
        margin: 1em 0 3em;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.18em;
    }
    .agileits_w3layouts_head {
        font-size: 1.6em;
    }
    .w3_agile_image img {
        width: 33%;
    }
    .agileinfo_grid figure figcaption {
        padding: 3.3em 3em;
    }
    .w3ls_newsletter_grids input[type="text"], .w3ls_newsletter_grids input[type="email"] {
        padding: 13px;
        font-size: 14px;
    }
    .w3ls_newsletter_grids input[type="submit"] {
        padding: 13px 0;
        font-size: 14px;
    }
    .w3_agile_about_grid_left h3 {
        font-size: 1.3em;
    }
    .w3_agile_about_grid_right {
        padding: 1em 4em 0 0;
    }
    .about-bottom h3 {
        font-size: 1.5em;
        width: 90%;
        margin: 0 auto 1.5em;
    }
    #map {
        min-height: 350px;
    }
}
@media (max-width: 736px){
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        float: none;
        width: 100%;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 240px;
    }
    .wthree_banner_bottom_grid_left {
        text-align: center;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.3em;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 5em 2em 0;
    }
    .w3l_social_icon_grid_pos {
        left: 44%;
    }
    .agileinfo_grid figure figcaption {
        padding: 2.7em 3em;
    }
    .w3layouts_news_grid {
        width: 100%;
    }
    .w3ls_news_grid {
        padding: 0 .5em;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.3em;
    }
}
@media (max-width: 667px){
    .wthree_welcome_bottom_left {
        padding: 3em 2em;
    }
    .wthree_welcome_bottom_right {
        width: 90%;
    }
    .agileinfo_grid figure figcaption {
        padding: 3.5em 3em;
    }
    .agileits_w3layouts_news_grid h4 {
        font-size: .97em;
    }
    .link-effect-8 a {
        margin: 0.8em 0.5em 0;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.17em;
        margin: 0;
    }
}
@media (max-width: 640px){
    .w3_banner_info_grid h3 {
        font-size: 1.5em;
    }
    .w3_banner_info {
        width: 90%;
        margin: 6em 0 0;
    }
    .banner {
        min-height: 540px;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.6em;
    }
    .w3l_social_icon_grid_pos {
        left: 50%;
    }
    .agileits_w3layouts_news_grid {
        padding: 1.5em 1em;
    }
    .agileinfo_about_text {
        padding-top: 8.5em !important;
    }
    .w3_agile_services_grid_right {
        padding: 0;
    }
    .agile_testimonials_grid_left {
        float: none;
        width: 100%;
    }
    .agile_testimonials_grid_right {
        padding: 2em 0;
        float: none;
        width: 100%;
        text-align: center;
    }
    .welcome, .newsletter, .about-bottom, .services-bottom,.testimonials {
        padding: 3em 0;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.5em;
    }
    .wthree_text {
        padding: 3em 0 0;
    }
}
@media (max-width: 600px){
    .shy-menu-panel ul li {
        font-size: 13px;
    }
    .w3_agile_logo h1 a {
        font-size: .8em;
    }
    .agile_social_icons_banner {
        margin: 1.3em 2em 0 0;
    }
    .shy-menu-hamburger {
        margin-top: .9em;
    }
    .w3_agileits_banner_main_grid, .shy-menu.is-open {
        height: 65px;
    }
    .w3_banner_info {
        width: 95%;
        margin: 5em 0 0;
    }
    .banner {
        min-height: 500px;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.5em;
    }
    .w3l_social_icon_gridr {
        margin: 2em 0 0 4em;
    }
    .w3l_social_icon_grid_pos {
        left: 48%;
    }
    .wthree_welcome_bottom_right {
        width: 100%;
    }
    .agileits_w3layouts_news_grid h4 {
        font-size: .93em;
    }
    .agileits_w3layouts_footer_logo h2 a {
        font-size: 1em;
    }
    .agileinfo_footer_grid h3 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .agileinfo_footer_grid h4 span {
        font-size: 2.2em;
    }
    .banner1 {
        min-height: 180px;
    }
    .w3_agile_about_grid_left h3 {
        font-size: 1.2em;
    }
    .skill-bar-percent {
        right: -8%;
    }
    .agileits_w3layouts_learn_more a {
        padding: 8px 0 !important;
        font-size: 14px;
    }
    .wthree_text h3 {
        font-size: 1.3em;
    }
    .agileits_mail_grid_right1 span i {
        font-size: 13px;
    }
    .w3layouts_mail_grid_left2 {
        width: 85%;
    }
    #map {
        min-height: 300px;
    }
}
@media (max-width: 568px){
    .link-effect-8 a {
        margin: 0.8em 0.1em 0;
    }
    .wthree_welcome_bottom_left {
        padding: 3em 1em;
    }
    .agileinfo_grid figure figcaption {
        padding: 3em 3em;
    }
    .agileits_w3layouts_news_grid {
        padding: 1.5em 0.6em;
    }
    .w3layouts_breadcrumbs_right h2 {
        font-size: 1.5em;
    }
    .w3layouts_breadcrumbs_left {
        margin-top: .1em;
    }
    .w3_agile_about_grid_left {
        padding: 0;
    }
    .wthree_text {
        padding: 2.5em 0 0;
    }
    .w3_agile_about_grid_right {
        padding: 1em 3em 0 0;
    }
    .about-bottom h3 {
        font-size: 1.3em;
        width: 100%;
    }
    .agileinfo_about_text {
        padding-top: 8em !important;
    }
    .w3_agileits_services_bottom_grid {
        float: none;
        width: 75%;
        margin: 0 auto;
    }
    .w3_agileits_services_bottom_grid:nth-child(2){
        margin:2em auto;
    }
    .wthree_services_bottom_grid1_pos {
        bottom: -8%;
    }
    .agileits_w3layouts_learn_more.hvr-radial-out {
        width: 60%;
    }
    .w3layouts_gallery_grid {
        margin-top: 1em;
    }
    .agileits_mail_grid_right1 input[type="submit"] {
        width: 45%;
    }
    .w3_agileits_mail_right_grid_pos {
        left: 40%;
    }
}
@media (max-width: 480px){
    .w3_agileits_banner_main_grid {
        padding: 1em 0 0;
    }
    .agileits_social_list li a {
        font-size: 1em;
    }
    .agileits_social_list li {
        margin-right: 1em;
    }
    .w3_banner_info_grid h3 {
        font-size: 1.3em;
    }
    .shy-menu-panel ul li {
        display: block;
        text-align:center;
    }
    .shy-menu-panel ul li a {
        display: inline-block;
    }
    .link-effect-8 a {
        margin: 1em 0 0;
        padding: 1em 1.5em;
    }
    .w3_agileits_banner_main_grid, .shy-menu.is-open {
        height: auto;
    }
    .is-open .shy-menu-panel {
        width: 100%;
    }
    .shy-menu.is-open {
        z-index: 9;
    }
    .shy-menu-panel ul {
        text-align: center;
        padding: 3.5em 0 1em;
    }
    .w3_banner_info_grid ul li a {
        padding: 7px 30px;
    }
    .w3l_contact, .w3ls_more:hover {
        border: 1px solid #fff;
    }
    .thim-click-to-bottom i {
        padding: 15px 8px;
        font-size: 8px;
    }
    .welcome, .newsletter, .about-bottom, .services-bottom, .testimonials {
        padding: 2em 0;
    }
    .agileits_w3layouts_head {
        font-size: 1.4em;
    }
    .wthree_welcome_bottom_left {
        padding: 2em 1em;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.4em;
        line-height: 1.5em;
    }
    .w3l_social_icon_gridr h4,.w3l_social_icon_grid_pos label {
        font-size: 1.3em;
    }
    .w3l_social_icon_gridr {
        margin: 2em 0 0 3em;
    }
    .wthree_welcome_bottom_left_grid {
        padding: 0;
    }
    .agileinfo_grid figure figcaption {
        padding: 1.8em 1em;
    }
    figure.agileits_effect_moses p {
        padding: 8px;
        font-size: 12px;
    }
    .w3ls_news_grid {
        padding: 0 1em;
        float: none;
        width: 100%;
    }
    .wthree_text h3 {
        font-size: 1.5em;
    }
    .wthree_text {
        padding: 6.8em 0 0;
    }
    .agileits_w3layouts_news_grid h4 {
        font-size: 1.2em;
    }
    .w3ls_news_grid:nth-child(2){
        margin:2em 0;
    }
    .agileits_w3layouts_news_grid ul li:last-child {
        margin-left: 2em;
    }
    .w3ls_news_grids {
        margin: 2em 0 0;
    }
    .w3ls_newsletter_grids input[type="submit"] {
        letter-spacing: 1px;
    }
    .agileinfo_footer_grid h4 span {
        font-size: 1.8em;
    }
    .footer{
        padding: 2em 0 0;
    }
    .w3_agileits_footer_copy {
        margin: 2em 0 0;
    }
    .agileinfo_footer_grid ul.w3layouts_footer_nav li:last-child {
        margin:0;
    }
    .modal-header {
        font-size: 1.8em;
        padding: 8px;
    }
    .w3ls_more, .w3l_contact:hover {
        border: 1px solid #a4dd25;
    }
    .w3_agile_about_grid_left p i {
        margin: 1em 0;
    }
    .w3_agile_about_grid_left h3 {
        font-size: 1.1em;
    }
    .skillbar-bar,.skillbar-title,.skillbar {
        height: 20px;
    }
    .skillbar-title {
        width: 85px;
        font-size: 11px;
        line-height: 20px;
    }
    .skill-bar-percent {
        line-height: 20px;
    }
    .about-bottom h3 {
        font-size: 1.1em;
    }
    .agileits_w3layouts_learn_more a {
        border: 1px solid #fff;
    }
    .agileits_learn_more {
        width: 30% !important;
    }
    .agileinfo_about_text {
        padding-top: 6em !important;
    }
    .w3_agileits_team_grid h4 {
        font-size: 1em;
        margin: 1em 0 0.3em;
    }
    .w3_agile_services_grid {
        padding: 0;
    }
    .w3_agileits_services_bottom_grid {
        width: 85%;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.35em;
    }
    .agile_testimonials_grid_right h6 {
        margin: 1em 0 0;
    }
    .w3layouts_gallery_grid {
        float: none;
        width: 100%;
        padding: 0 1em;
    }
    .agileits_mail_grid_right1 {
        padding: 1em;
    }
    .w3_agile_mail_left {
        padding: 0;
    }
    .agileits_mail_grid_right1 span i {
        font-size: 12px;
    }
    .w3_agileits_mail_right_grid {
        margin: 5em 0 2em;
    }
    .w3_agileits_mail_right_grid_pos {
        top: -18%;
        left: 38%;
    }
    .w3layouts_mail_grid_left2 h3 {
        font-size: 1em;
        margin: .5em 0 0;
    }
    .w3layouts_mail_grid_left2 {
        width: 80%;
    }
}
@media (max-width: 414px){
    .w3_banner_info {
        width: 100%;
        margin: 4em 0 0;
    }
    .w3_banner_info_grid h3 {
        font-size: 1.25em;
    }
    .w3_banner_info_grid p {
        font-size: 13px;
    }
    .banner {
        min-height: 450px;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 3em 2em 0;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 215px;
    }
    .w3_agile_image img {
        width: 50%;
    }
    .wthree_welcome_bottom_left h3 {
        font-size: 1.3em;
    }
    .w3l_social_icon_gridl {
        width: 60px;
        height: 60px;
    }
    .w3l_social_icon_gridl img {
        width: 73%;
    }
    .w3l_social_icon_gridr h4, .w3l_social_icon_grid_pos label {
        font-size: 1.1em;
    }
    .w3l_social_icon_grid_pos {
        left: 45%;
    }
    .w3l_social_icon_gridr {
        margin: 1.5em 0 0 3em;
    }
    .wthree_welcome_bottom_left p {
        padding: 1em 0 0;
    }
    figure.agileits_effect_moses h4 {
        font-size: 1.3em;
        padding: 10px;
    }
    .agileinfo_grid figure p {
        letter-spacing: 0px;
    }
    .agileinfo_grid figure figcaption {
        padding: 1.2em 1em;
    }
    .wthree_text {
        padding: 6em 0 0;
    }
    .w3ls_newsletter_grids input[type="text"], .w3ls_newsletter_grids input[type="email"] {
        border-right: 2px solid #fff;
    }
    .w3ls_newsletter_grids input[type="text"], .w3ls_newsletter_grids input[type="email"], .w3ls_newsletter_grids input[type="submit"] {
        width: 100%;
    }
    .w3ls_newsletter_grids input[type="email"]{
        margin:1em 0;
    }
    .agileinfo_footer_grid {
        float: none;
        width: 100%;
    }
    .agileinfo_footer_grid:nth-child(2) {
        margin: 2em 0;
    }
    .agileinfo_footer_grid:nth-child(3) {
        margin: 0 0 2em;
    }
    .agileinfo_footer_grid h3 {
        font-size: 1.3em;
    }
    .agileinfo_footer_grid1 {
        padding-left: 1em;
    }
    .modal-body p {
        padding: 1.5em 1.5em 1em;
    }
    .skill-bar-percent {
        right: -12%;
    }
    .agileinfo_about_text {
        padding-top: 5em !important;
    }
    .agile_services_grid_left1 {
        width: 70px;
        height: 70px;
    }
    .agile_services_grid_left1 img{
        width:70%;
    }
    .w3_agile_services_grid_left {
        padding-left: 0;
    }
    .agile_testimonials_grid_right h5 {
        font-size: 1.3em;
        line-height: 1.5em;
    }
    .agileits_mail_grid_right1 span i {
        float: none;
        width: 100%;
        margin: 0 0 .8em;
        display:block;
    }
    .agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
        width: 100%;
    }
    .w3_agileits_mail_right_grid_pos {
        left: 35%;
    }
}
@media (max-width: 384px){
    .w3_banner_info_grid h3 {
        font-size: 1.15em;
    }
    .w3_agile_logo h1 a {
        font-size: .75em;
    }
    .agileits_social_list li a {
        font-size: .8em;
    }
    figure.agileits_effect_moses p {
        font-size: 11px;
    }
    .agileinfo_grid figure figcaption {
        padding: 1em 1em;
    }
    .w3_agile_image img {
        width: 70%;
    }
    .wthree_text {
        padding: 5.3em 0 0;
    }
    .agileinfo_about_text {
        padding-top: 4em !important;
    }
    .w3_agileits_services_bottom_grid {
        width: 100%;
    }
    .agileits_mail_grid_right1 input[type="submit"] {
        width: 100%;
    }
    .w3layouts_mail_grid_left2 {
        width: 75%;
    }
    .w3layouts_breadcrumbs_left {
        margin: 0 0 .7em;
        text-align: center;
        float: none;
    }
    .w3layouts_breadcrumbs_right {
        float: none;
        text-align: center;
    }
}
@media (max-width: 375px){
    .w3_banner_info_grid h3 {
        font-size: 1.1em;
    }
    .w3l_social_icon_gridr {
        margin: 1.5em 0 0 2.5em;
    }
    .agileinfo_grid figure figcaption {
        padding: 0.6em 1em;
    }
    .about-bottom h3 {
        font-size: 1em;
    }
    .agileits_learn_more {
        width: 40% !important;
    }
    .banner1 {
        min-height: 140px;
    }
    .w3_agile_services_grids {
        padding-top: 0;
    }
    .w3_agile_services_grid_right h4 {
        font-size: 1.1em;
    }
}
@media (max-width: 320px){
    .w3_agile_logo h1 a span {
        padding: .1em .3em .15em;
    }
    .w3_agile_logo h1 a {
        font-size: .7em;
    }
    .agileits_social_list li {
        margin-right: 0.5em;
    }
    .agile_social_icons_banner {
        margin: .9em 2em 0 0;
    }
    .shy-menu-hamburger {
        margin-top: .5em;
    }
    .w3_banner_info_grid h3 {
        font-size: .95em;
    }
    .w3_banner_info_grid p {
        font-size: 12px;
        margin: .5em 0 2em;
    }	
    .w3_banner_info_grid ul li a {
        padding: 6px 18px;
    }
    .banner {
        min-height: 410px;
    }
    .w3_agileits_banner_bottom_pos_grid {
        padding: 2em 1em 0;
    }
    .agileits_banner_bottom_left, .agileits_banner_bottom_left1, .agileits_banner_bottom_left2 {
        min-height: 180px;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    p, ul li, ol li,.w3layouts_mail_grid_left2 a {
        font-size: 13px;
    }
    .wthree_welcome_bottom_left_grid {
        margin-top: 1em;
        float: none;
        width: 100%;
    }
    .w3l_social_icon_gridr {
        margin: 1.5em 0 0 6.5em;
    }
    .w3l_social_icon_grid_pos {
        left: 41%;
    }
    figure.agileits_effect_moses h4 {
        font-size: 1em;
        padding: 5px 10px;
    }
    figure.agileits_effect_moses p {
        font-size: 10px;
        padding: 2px 8px;
    }
    .agileinfo_grid figure figcaption {
        padding: 0.4em 0.5em;
    }
    .agileits_w3layouts_head {
        font-size: 1.3em;
    }
    .wthree_text {
        padding: 4em 0 0;
    }
    .w3ls_newsletter_grids input[type="text"], .w3ls_newsletter_grids input[type="email"] {
        padding: 11px;
        font-size: 13px;
    }
    .w3ls_newsletter_grids input[type="submit"] {
        padding: 11px 0;
        font-size: 13px;
    }
    .agileits_w3layouts_footer_logo h2 a {
        font-size: .9em;
    }
    .agileinfo_footer_grid,.agileinfo_footer_grid1 {
        padding: 0;
    }
    .modal-header {
        font-size: 1.6em;
    }
    .w3_agileits_team_grid ul li {
        margin: 0 0.5em;
    }
    .agileinfo_about_text {
        padding-top: 3em !important;
    }
    .skill-bar-percent {
        right: -17%;
    }
    .w3_agile_services_grid_right h4 {
        font-size: 1.07em;
    }
    .wthree_services_bottom_grid1_pos {
        bottom: -12%;
    }
    .w3_agileits_mail_right_grid_pos {
        left: 30%;
    }
    .w3_agileits_mail_right_grid h5 {
        margin-bottom: 1em;
    }
    .w3layouts_mail_grid_left2 {
        width: 70%;
    }
    #map {
        min-height: 250px;
    }
    .agileinfo_footer_grid ul.agileits_social_list li {
        margin-right: 2em;
    }
    .w3_agileits_footer_copy {
        padding: 1em 0;
    }
}